.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-image-1 {
  width: 684px;
  height: 229px;
  margin: 107px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 120px 106px 0;
}

.u-section-1 .u-text-2 {
  width: 699px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 115px auto 47px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-1 {
    width: 697px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 200%;
    left: -50%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 181px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 252%;
    left: -76%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 114px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 364%;
    left: -132%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 771px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 30px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 41px 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 41px 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 41px 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 41px 0 auto;
}

.u-section-2 .u-text-10 {
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 41px 0 auto;
}

.u-section-2 .u-text-12 {
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 41px 0 auto;
}

.u-section-2 .u-text-14 {
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/25a8c8198b49873f8b889388a296ad1f822.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 666px;
}

.u-section-3 .u-list-1 {
  width: 563px;
  margin: 73px -25px 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 412px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 55px 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 55px 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 55px 20px 30px;
}

.u-section-3 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 55px 20px 30px;
}

.u-section-3 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 55px 20px 30px;
}

.u-section-3 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 55px 20px 30px;
}

.u-section-3 .u-icon-6 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 18px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -325px auto 0 26px;
}

.u-section-3 .u-text-8 {
  margin: 18px 660px 60px 26px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 460px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 551px;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 475px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -803px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 36.88% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
} .u-section-4 {
  min-height: 640px;
}

.u-section-4 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-4 .u-image-1 {
  min-height: 405px;
  background-image: url("images/257a53c26dccc399b3c7ad0f6a2f085fb22.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 405px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-image-2 {
  min-height: 405px;
  background-image: url("images/25bd72b4ae7f4bd5990fbcde875b521b413.jpg");
  background-position: 50% 87%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 405px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-image-3 {
  min-height: 405px;
  background-image: url("images/2506340b21767c84f56ce8246b6812762c3.jpg");
  background-position: 66.17% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 405px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 334px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-4 .u-image-2 {
    min-height: 334px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-4 .u-image-3 {
    min-height: 334px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 334px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 342px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1590px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 671px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1446px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1446px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 576px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 576px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 576px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1026px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-4 .u-image-1 {
    min-height: 363px;
  }

  .u-section-4 .u-image-2 {
    min-height: 363px;
  }

  .u-section-4 .u-image-3 {
    min-height: 363px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 660px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 23px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 560px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 56px auto 0 0;
  padding: 0;
}

.u-section-5 .u-image-1 {
  min-height: 540px;
  background-image: url("images/257a53c26dccc399b3c7ad0f6a2f085fb22.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 575px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-image-1 {
    min-height: 445px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 440px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 341px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 763px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 512px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 795px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 322px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 705px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px 0 45px auto;
}

.u-section-6 .u-image-1 {
  min-height: 585px;
  background-image: url("images/2506340b21767c84f56ce8246b6812762c3.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 585px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-6 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 49px 0 0;
}

.u-section-6 .u-text-2 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 10px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 40px;
  width: 40px;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 69px 98px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 594px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -73px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 482px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: auto;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 369px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 766px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-6 .u-image-1 {
    min-height: 554px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 26px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 220px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 215px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-6 .u-image-1 {
    min-height: 349px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 20px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 20px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 752px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-7 .u-slider-1 {
  margin-top: 20px;
  margin-bottom: 0;
  min-height: 453px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-7 .u-gallery-1 {
  height: 354px;
  width: 904px;
  grid-gap: 10px;
  margin: 0 auto;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-gallery-2 {
  height: 354px;
  width: 904px;
  grid-gap: 10px;
  margin: 0 auto;
}

.u-section-7 .u-gallery-inner-2 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
}

.u-section-7 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 36px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 424px;
  }

  .u-section-7 .u-gallery-1 {
    height: 325px;
    width: 830px;
  }

  .u-section-7 .u-gallery-2 {
    height: 345px;
    width: 880px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 852px;
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-gallery-1 {
    height: 775px;
    width: 660px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-gallery-2 {
    height: 776px;
    width: 660px;
  }

  .u-section-7 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1832px;
    width: 520px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-gallery-2 {
    height: 1834px;
    width: 520px;
  }

  .u-section-7 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-slider-1 {
    min-height: 147px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1127px;
    width: 320px;
  }

  .u-section-7 .u-gallery-2 {
    height: 1129px;
    width: 320px;
  }
}